<% palette = ['#dff3fb', '#bfe6f7', '#80ceef', '#0097d3', '#0075a7'] %>
<%= form_with url: product_scores_path(@product), method: :post, html: { id: 'score-form' } do %>

	<div class="progressive-form-wrapper" data-controller="score-form" data-action="click->score-form#toggleSelectable">

		<div class="progress">
			<% @framework.dimensions.order(:position).each_with_index do |dimension, i| %>
				<div class="progress-bar" style="background-color: <%= dimension.color || palette[i % palette.size] %>"></div>
			<% end %>
		</div>

		<% dimensions = @framework.dimensions.order(:position).includes(capabilities: :capability_levels).to_a %>
		<% dimensions.each_with_index do |dimension, di| %>
			<div class="progressive-form">
				<div class="progressive-form-header">
					<h3 class="progressive-form-title text-center"><strong><%= dimension.name %></strong></h3>
					<div class="pull-right"><button type="button" class="button-aux button-aux--minor" data-action="click->score-form#next"> Next </button></div>
				</div>
				<div style="clear:both; height:7px"></div>
				<div class="progressive-form-content">
					<table class="table table-hover table-bordered">
						<tr>
							<th bgcolor="bbc3c9" class="progressive-form-meta">Title</th>
							<% (1..4).each do |v| %>
								<th bgcolor="<%= palette[(v - 1) % palette.size] %>" class="progressive-form-level">Level <%= v %></th>
							<% end %>
							<th bgcolor="#fbfbf1" class="progressive-form-meta">Min Score</th>
						</tr>
						<% dimension.capabilities.order(:position).each do |capability| %>
							<tr>
								<td bgcolor="#dde1e4" style="border:1px solid #bbc3c9"><%= capability.name %></td>
								<% (1..4).each do |v| %>
									<td class="selectable">
										<label for="cap_<%= capability.id %>_<%= v %>"><%= capability.level(v)&.formatted_description&.html_safe %></label>
										<%= radio_button_tag "score[responses][#{capability.id}]", v, @assessment.value_for(capability) == v, id: "cap_#{capability.id}_#{v}" %>
									</td>
								<% end %>
								<td><%= capability.min_level %></td>
							</tr>
						<% end %>
					</table>
				</div>
				<div class="progressive-form-footer">
					<% if di.positive? %>
						<div class="pull-left"><button type="button" class="button-aux button-aux--minor" data-action="click->score-form#back"> Back </button></div>
					<% end %>
					<% if di < dimensions.size - 1 %>
						<div class="pull-right"><button type="button" class="button-aux button-aux--minor" data-action="click->score-form#next"> Next </button></div>
					<% end %>
				</div>
			</div>
		<% end %>

		<div class="actions">
			<%= submit_tag "Save Score", class: 'button button--cta' %>
		</div>
	</div>
<% end %>
