<div class="page__content subheader">
	<h1 class="pull-left">Maturity Scores on <%= @product.name %></h1>
	<%= link_to 'Re-evaluate Asset', new_product_score_path(@product), class: "button button--cta pull-right" %>
	<%= link_to 'Asset page', product_path(@product), class: "button pull-right" %>
</div>

<% scored = @frameworks.select { |framework| @assessments_by_framework[framework].any? } %>

<% if scored.empty? %>
	<div class="page__content main-content">
		<p>No scores yet. <%= link_to 'Evaluate this asset', new_product_score_path(@product) %> to assess it against every maturity model.</p>
	</div>
<% else %>
	<% scored.each do |framework| %>
		<%= render 'framework_trends', framework: framework, assessments: @assessments_by_framework[framework] %>
	<% end %>
<% end %>
