<div class="page__content subheader">
	<% @frameworks.each do |fw| %>
		<%= link_to fw.name, root_path(framework: fw.slug),
			class: "button #{fw.id == @framework&.id ? 'button--cta' : 'button--minor'}", style: 'margin-right:6px' %>
	<% end %>
</div>

<% unless @has_data %>
	<div class="page__content" style="text-align:center; padding:60px 20px">
		<h1>No <%= @framework&.name %> assessment data yet</h1>
		<p>There are no scored applications to summarize for this maturity model.</p>
		<%= link_to 'Manage data', data_path, class: 'button button--cta' if CONFIGS[:enable_data_management] %>
	</div>
<% else %>
<% palette = ['#bd93f9', '#50fa7b', '#ffb86c', '#ff79c6', '#f1fa8c'] %>
<% capability_colors = @framework.dimensions.order(:position).each_with_index.flat_map { |d, i| Array.new(d.capabilities.size, palette[i % palette.size]) } %>

<div class="stats">
	<%= link_to "javascript:void(0)", :onclick=>"openSlider('slider-data')" do %>
	<div class="col-xs-6 col-md-4 stats-item">
		<div class="stats-title text-center"><p><%= @framework.name %> Readiness Score</p></div>
		<div class="stats-val text-center"><p><%= @org_readiness.round(2) %>%</p></div>
	</div>
	<% end %>
	<%= link_to products_path do %>
	<div class="col-xs-6 col-md-4 stats-item">
		<div class="stats-title text-center"><p>Total Number of Assets</p></div>
		<div class="stats-val text-center"><p><%= @products_count %></p></div>
	</div>
	<% end %>
	<% if CONFIGS[:enable_asset_creation] %>
		<%= link_to new_product_path do %>
		<div class="col-xs-6 col-md-4 stats-item">
			<div class="stats-title text-center"><p>Add a new Asset</p></div>
			<div class="stats-val text-center"><p>+</p></div>
		</div>
		<% end %>
	<% end %>
</div>

<div class="page__content">
	<canvas id="category-average-graph" width="400" height="100"></canvas>
</div>

<div class="slider-data">
	<div class="title"><h1>Organization-wide Score Descriptions</h1></div>
	<div class="content">
		<table class="table table-hover table-bordered">
			<thead>
				<tr>
					<th bgcolor="#44475a" style="color: #f8f8f2">Title</th>
					<th bgcolor="#44475a" style="color: #f8f8f2">Score</th>
					<th bgcolor="#44475a" style="color: #f8f8f2">Current Score Description</th>
				</tr>
			</thead>
			<% @framework.capabilities.each_with_index do |capability, index| %>
				<% value = @org_capability_values[index].to_f %>
				<tr>
					<td><%= capability.name %></td>
					<td><%= value.round(1) %></td>
					<td><%= capability.level(value.round.clamp(1, 4))&.description if value.positive? %></td>
				</tr>
			<% end %>
		</table>
	</div>
</div>

<script>
	window.onChartReady(function() {
	window.renderChart("category-average-graph", {
		type: 'bar',
		data: {
			labels: <%= raw @capability_labels.to_json %>,
			datasets: [{
				type: 'line', label: 'Category', data: <%= raw @org_expanded_values.to_json %>,
				borderColor: '#6272a4', borderWidth: 1, tension: 0, pointRadius: 0
			},{
				type: 'bar', label: 'Capabilities', data: <%= raw @org_capability_values.to_json %>,
				backgroundColor: <%= raw capability_colors.to_json %>, borderColor: '#6272a4', borderWidth: 1
			}]
		},
		options: {
			layout: { padding: { bottom: 30 } },
			responsive: true,
			scales: {
				x: { ticks: { display: true, autoSkip: false, minRotation: 90 } },
				y: { min: 0, max: 4, beginAtZero: true, ticks: { stepSize: 1 } }
			}
		}
	});
	});
</script>
<% end %>
