<div class="statics-wrapper">
	<div class="page__content main-content">

		<h1 class="heading-lined heading-lined--primary" style="width:100%">Documentation</h1>

		<p class="doc-header">Hosting your own version of Tech Maturity is easy! Visit our <a href="<%= github_path %>">GitHub project</a> for more information on how you can get started or contribute and help make improvements. Have any questions or want to know how you can help? We'd love to <a href="<%= contact_path %>">hear from you!</a></p>

		<% if @frameworks.size > 1 %>
			<div style="margin: 12px 0">
				<% @frameworks.each do |fw| %>
					<%= link_to fw.name, docs_path(framework: fw.slug),
						class: "button #{fw.id == @framework&.id ? 'button--cta' : 'button--minor'}", style: 'margin-right:6px' %>
				<% end %>
			</div>
		<% end %>

		<% if @framework %>
			<h2><%= @framework.name %></h2>
			<% if @framework.description.present? %><p class="doc-header"><%= @framework.description %></p><% end %>

			<% @framework.dimensions.order(:position).each do |dimension| %>
				<h3 class="progressive-form-title text-center"><b><%= dimension.name %></b></h3><br>
				<table class="table table-hover table-bordered">
					<tr>
						<th bgcolor="bbc3c9" class="progressive-form-meta">Title</th>
						<th bgcolor="#dff3fb" class="progressive-form-level">Level 1</th>
						<th bgcolor="#bfe6f7" class="progressive-form-level">Level 2</th>
						<th bgcolor="#80ceef" class="progressive-form-level">Level 3</th>
						<th bgcolor="#0198E1" class="progressive-form-level">Level 4</th>
						<th bgcolor="#fbfbf1" class="progressive-form-meta">Minimum</th>
					</tr>
					<% dimension.capabilities.order(:position).each do |capability| %>
						<tr>
							<td bgcolor="#dde1e4" style="border:1px solid #bbc3c9"><b><%= capability.name %></b></td>
							<% (1..4).each do |v| %>
								<td><%= capability.level(v)&.formatted_description&.html_safe %></td>
							<% end %>
							<td><%= capability.min_level %></td>
						</tr>
					<% end %>
				</table>
				<br>
			<% end %>
		<% end %>
	</div>
</div>
