<div class="page__content subheader">
<% if CONFIGS[:enable_asset_creation] %>
	<h1 class="pull-left">Assets</h1>
	<%= link_to 'New Asset', new_product_path, class: "button button--cta pull-right" %>
<% end %>
</div>
<% unless notice.nil? %>
<div class="alert alert-<%=notice["type"]%> alert-dismissable">
	<a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<p id="notice"><%= notice["message"] %></p>
</div>
<% end %>
<div class="main-content">
<%= form_with url: products_path, method: :get, data: { controller: 'search', turbo_frame: 'products' } do %>
	<label class="checkbox-inline">
		<%= check_box_tag :assessed, '1', @assessed == '1', id: 'assess-check', data: { action: 'change->search#submit' } %>
		Show Only Assessed
	</label>
	<%= text_field_tag :q, params[:q], id: 'search-tags', class: 'form-control',
		placeholder: 'Enter tag values to filter assets', autocomplete: 'off',
		data: { action: 'input->search#submit' } %>
<% end %>
<%= turbo_frame_tag 'products' do %>
	<%= render 'products/products', products: @products %>
	<div id="pagination" class="text-center">
		<%= will_paginate @products %>
	</div>
<% end %>
</div>
